[submodule "Stochastic_Recurrent_Neural_Network"]
	path = Stochastic_Recurrent_Neural_Network
	url = https://github.com/andrei-ml/stochastic-rnn
[submodule "Hybrid_Variational_Inference"]
	path = Hybrid_Variational_Inference
	url = https://github.com/EarthyScience/HybridVariationalInference.jl
[submodule "Hybrid_JSBACH"]
	path = Hybrid_JSBACH
	url = https://github.com/relghawi/Hybrid_JSBACH_Example
[submodule "Equation_Discovery_of_Cloud_Cover_Parameterization"]
	path = Equation_Discovery_of_Cloud_Cover_Parameterization
	url = https://github.com/EyringMLClimateGroup/grundner23james_EquationDiscovery_CloudCover
[submodule "ICON_A_Automatic_Tuning"]
	path = ICON_A_Automatic_Tuning
	url = https://github.com/EyringMLClimateGroup/grundner25_iconaml_automatic_tuning
[submodule "MortNetSE_quickstart"]
	path = MortNetSE_quickstart
	url = https://github.com/AdrianGustafson/MortNetSE-parameterisation-pipeline
[submodule "Convection_Parameterizations_for_ICON_A"]
	path = Convection_Parameterizations_for_ICON_A
	url = https://github.com/EyringMLClimateGroup/heuer25james_ml_convection_climsim
